
.row
  .large-6.columns
    %h1{style: "font-family: 'Roboto Condensed', sans; font-size: 4em; padding:30px 0px; font-weight: bold; line-height: 1em;"}
      ABOUT W‑8FORMS.COM 
      %br
.row{style: "padding-bottom:30px;"}
  .large-6.columns
    %p Gathering IRS Forms W-8 and W-9 is an onerous burden – time-consuming, prone to inaccuracies and intrusive to customers. Foreign Account Tax Compliance Act final regulations and the Intergovernmental Agreements define the self-certification process, but due to FATCA’s global reach, you may need to cater for multiple forms in multiple jurisdictions. This can place a particular burden on resources. We simplify and accelerate the tax documentation process. We facilitate the collection, validation and maintenance of the W-8 and W-9 series of forms in any jurisdiction.
  .large-6.columns
    %p Additional assurance is given by the IRS’s Memorandum of Understanding (MOU) process. This certifies the IRS’s recognition of the robustness of an organisation’s W-8 and W-9 process.  We help clients gain MOUs. w-8forms.com is designed to facilitate this process.