
.row
  .large-6.columns
    %h1{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding:30px 0px; font-weight: bold; line-height: 1em;"}
      ABOUT SaaSCAP.COM 
      %br
.row{style: "padding-bottom:30px;"}
  .large-6.columns
    %p Raising finance for any business is an onerous burden – time-consuming and disruptive. This can place a particular burden on resources at a time when you should focus on growth. We simplify and accelerate the loan process. 
