.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 4em; padding-top:30px; font-weight: bold; line-height: 1em;"}
      W-8BEN-E 
      %br
      COMPLIANCE         
      %br
      MADE EASY
      %br
    %h5.text-center
      US tax forms. Collected. Seamlessly.

.row{style: "padding-top:30px;"}
  .large-10.large-offset-2.columns
    %h3 Choose clients that need to provide an IRS form
    %p You can do this through w-8forms.com or via our API. 
  .large-10.large-offset-2.columns
    %h3 w-8forms.com does the rest. Relax. 
    %p We follow up with your clients and let you know when the forms are signed. 
  .large-10.large-offset-2.columns
    %h3 w-8forms.com validates the forms and notifies you
    %p w-8forms.com follows up with the clients if the are problems with the forms.
