.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding-top:30px; font-weight: bold; line-height: 1em;"}
      DEBT FINANCING
      %br
      FOR SaaS COMPANIES         
      %br
      MADE EASY
      %br
    %h5.text-center
      Growth Capital. Delivered. Seamlessly.

.row{style: "padding-top:30px;"}
  .large-10.large-offset-2.columns
    %h3 1. Apply by submitting your Key Performance Indicators
    %p You can do this through SaaScap.com or via our API. 
  .large-10.large-offset-2.columns
    %h3 2. SaaScap.com does the rest. Relax. 
    %p We follow up with due diligence. 
  .large-10.large-offset-2.columns
    %h3 3. SaaScap.com provides financing in 2 days
    %p SaaScap.com follows up with the clients if the are problems with the forms.
