.row.benefits{style: "padding-bottom:50px;"}
  .small-12.large-4.columns.benefit
    %i.fi-comments.icon
    %h5 Supporting
    %hr{style: "border: 1px solid #ffd707;"}
    %h6 Product/Tech Support. 
    %p SaaScap.com is here to help you and back you up. Our experts are available if you need us, providing answers, so you can be confident your IRS Forms W-8BEN, W-8BEN-E, W-8EXP,  W-8IMY, and W-9  are done right. Get one-on-one answers to your questions from our customer support agents via phone or live chat, for free.
  .small-12.large-4.columns.benefit
    %i.fi-telephone.icon
    %h5 On your side
    %hr{style: "border: 1px solid #ffd707;"}
    %h6 Tax Advice
    %p Get personalised, expert answers to your toughest tax questions. Our tax experts, all tax lawyers, CPAs and Enrolled Agents, are here to talk to you one-on-one, by phone if you need it (fees may apply).
  .small-12.large-4.columns.benefit
    %i.fi-laptop.icon
    %h5 Social
    %hr{style: "border: 1px solid #ffd707;"}
    %h6 Community. 
    %p With SaaScap.com, you don't need technical US tax knowledge. If you have form-related questions, just ask and we'll provide easy-to-understand answers online, 24/7, all year long. We give you personalised, unbiased answers from experts and other contributors, so you can be confident your forms are done right!
    