%section.benefits{style: "background: #ffd707; padding-top:50px;"}
  .row
    .large-12.columns
      %ul.example-orbit{"data-orbit" => "", "data-options" => "slide_number: false"}
        %li
          .row
            .small-12.large-4.columns.benefit
              %i.fi-page-search.icon
              %h5 Flexible
              %hr
              %h6 Borrow for the time you like. 
              %p Reduce your financing costs and deploy capital when you need it.
            .small-12.large-4.columns.benefit
              %i.fi-checkbox.icon
              %h5 Unsecured
              %hr
              %h6 No personal guarantee from you required
              %p SaaScap extends a loan to the extent your SaaS business can support it, so personal guarantees from the founders are not required.
            .small-12.large-4.columns.benefit
              %i.fi-shield.icon
              %h5 Grows with you
              %hr
              %h6 Amount available to borrow grows as your revenue grows. 
              %p As you succeed, we take away the pain of having to do another financing round.   
        %li
          .row
            .small-12.large-4.columns.benefit
              %i.fi-book.icon
              %h5 Easy
              %hr
              %h6 Do not get distracted from your business. 
              %p We have worked hard to make the application process simple and fast.
            .small-12.large-4.columns.benefit
              %i.fi-mail.icon
              %h5 Confirmation
              %hr
              %h6 Funding confirmation. 
              %p Get email confirmation once we have approved the inital loan or if the credit line has changed.
            .small-12.large-4.columns.benefit
              %i.fi-calendar.icon
              %h5 Tracking
              %hr
              %h6 Track your facility. 
              %p We'll tell you  when to expect a response from us along every stage of the application process.
        %li
          .row
            .small-12.large-4.columns.benefit
              %i.fi-comment.icon
              %h5 Support
              %hr
              %h6 We're standing by 24/7. 
              %p Get answers when you talk or chat with our experts or visit our community. Chat live with a SaaScap.com expert to get answers to your questions. A SaaScap.com expert will answer your questions when you call. Visit our community forum any time for more support
            .small-12.large-4.columns.benefit
              %i.fi-book-bookmark.icon
              %h5 Accessible
              %hr
              %h6 Great for start-ups. 
              %p We help you to get your financing done right, even if you have no previous financial knowledge.
            .small-12.large-4.columns.benefit
              %i.fi-mobile-signal.icon
              %h5 Mobile
              %hr
              %h6 Your financing on the go. 
              %p Sync your SaaScap.com online and mobile accounts to access and track your information anytime from anywhere.