.row
  .large-6.columns
    %h1{style: "font-family: 'Roboto Condensed', sans; font-size: 60px; padding:30px 0px; font-weight: bold; line-height: 1em;"}
      KEY BENEFITS OF W-8FORMS.COM
      %br
.row
  .large-6.columns
    %ul.disc
      %li Real-time document validation - this highlights potential errors before submission
      %li Full historic data reporting for instant snapshots at any period in time
      %li Ongoing review and validation against client account information
      %li Multilingual capabilities (including non-Latin character sets such as Chinese) while providing an English form in line with FATCA requirements
      %li Suggested “cures” based on audit procedures which help administrators remediate issues 
      %li Easy integration with internal processes through comprehensive APIs and web services
      %li The ability to segregate data across designated business units 
      %li Configurable administrator access rights
      %li Full client branding capability 
      %li Capacity to integrate into existing customer on-boarding systems
    %p w-8forms.com reduces the risk of non-compliance in the information and reporting regime, and greatly helps in meeting tax reporting obligations associated with FATCA. This presents a considerable advantage for any financial services organisation dealing with U.S. source income and persons.