.row
  .large-6.columns
    %h1{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding:30px 0px; font-weight: bold; line-height: 1em;"}
      KEY BENEFITS OF W‑8FORMS.COM
      %br
.row
  .large-6.columns
    %ul.disc
      %li Helps to meet FATCA tax reporting obligations 
      %li Real-time document validation - highlighting potential errors before submission
      %li Ongoing review and validation against client account information
      %li Easy integration with our API
  .large-6.columns
    %ul.disc
      %li Suggested “cures” based on audit procedures which help you remediate issues 
      %li Full client branding capability 
      %li Integration into existing on-boarding systems
      %li Reduced risk of non-compliance in the information and reporting regime
