.row
  .large-6.columns
    %h1{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding:30px 0px; font-weight: bold; line-height: 1em;"}
      KEY BENEFITS OF SaaSCAP.COM
      %br
.row
  .large-6.columns
    %ul.disc
      %li Helps to meet your financing and growth needs 
      %li Fast application process that gets you back to execution for your SaaS business 
      %li Ongoing review of the facility limits
      %li Easy integration with our API

