.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 80px; padding:30px 0px; font-weight: bold; line-height: 1em;"}
      WHICH W-8FORMS.COM
      %br
      PRODUCT IS RIGHT 
      %br
      FOR YOU?
    %h5.text-center
      Try any plan free for 30 days. No credit card required. No hidden fees. Cancel anytime.
  .row.collapse{style: "margin-top: 30px;"}
    .large-4.columns
      %ul.pricing-table.left-side
        %li.title Free Edition
        %li.price 
          Free
          %br
          %br
        %li.description Small trust offices 
        %li.bullet-item
          %i.fi-graph-trend
          Easy prep, print and efile
        %li.bullet-item
          %i.fi-upload-cloud
          Import your information
        %li.bullet-item
          %i.fi-download
          Transfer from previous W-8 Forms
        %li.bullet-item
          %i.fi-check
          Most simple situations covered
        %li.bullet-item
          %i.fi-database
          Online access to all W-8 Forms on file
        %li.bullet-item
          %i.fi-eye
          350+ validations
        %li.bullet-item
          %i.fi-address-book
          5 Clients
        %li.bullet-item
          %i.fi-web
          Online Support
        %li.cta-button
          %a.button{href: "#"} START FOR FREE
    .large-4.columns.recommended
      %ul.pricing-table
        %li.title Deluxe
        %li.price
          %span{style: "text-decoration:line-through;"}£29
          %span{style: "color:#f03;"}£19 
          %br
          %span{style: "font-size: 0.5em;"} per month
        %li.description Small financial institutions
        %li.bullet-item
          %i.fi-graph-trend
          Easy prep, print and efile
        %li.bullet-item
          %i.fi-upload-cloud
          Import your information
        %li.bullet-item
          %i.fi-download
          Transfer from previous W-8 Forms
        %li.bullet-item
          %i.fi-check
          Most simple situations covered
        %li.bullet-item
          %i.fi-database
          Online access to all W-8 Forms on file
        %li.bullet-item
          %i.fi-eye
          350+ validations
        %li.bullet-item
          %i.fi-address-book
          50 Clients
        %li.bullet-item
          %i.fi-web
          Online Support
        %li.cta-button
          %a.button{href: "#"} START FOR FREE
    .large-4.columns
      %ul.pricing-table.right-side
        %li.title Premium
        %li.price
          %span{style: "text-decoration:line-through;"}£109
          %span{style: "color:#f03;"}£99 
          %br
          %span{style: "font-size: 0.5em;"} per month
        %li.description Enterprise Financial Institutions
        %li.bullet-item
          %i.fi-graph-trend
          Easy prep, print and efile
        %li.bullet-item
          %i.fi-upload-cloud
          Import your information
        %li.bullet-item
          %i.fi-download
          Transfer from previous W-8 Forms
        %li.bullet-item
          %i.fi-check
          Most simple situations covered
        %li.bullet-item
          %i.fi-database
          Online access to all W-8 Forms on file
        %li.bullet-item
          %i.fi-eye
          350+ validations
        %li.bullet-item
          %i.fi-address-book
          1000 Clients
        %li.bullet-item
          %i.fi-telephone
          Phone Support
        %li.cta-button
          %a.button{href: "#"} START FOR FREE

    %h5.text-right
      Contact us for high volume enterprise plan or find out about our 
      %a W-8 Form preparation by experts.