
.row.home-buttons
  .large-6.columns
    %h4.text-center 
      %small New to SaaScap.com?
    %a.button.expand{href: "/pricing"} START FOR FREE   
  .large-6.columns
    %h4.text-center 
      %small Existing Borrower?
    %a.button.expand.secondary{href: "/sessions/new"} SIGN IN
