.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 4em; padding-top:30px; font-weight: bold; line-height: 1em;"}
      READY TO TRY 
      %br 
      W‑8FORMS.COM?
      %br
      %a.button{href: "/users/new"} START FOR FREE 