%section{style: "padding: 150px 0 150px 0; background-image: url('assets/photo.JPG'); background-size: cover;"} 
  %section.benefits{style: "background: white; opacity: .9; padding: 40px 0 40px 0; "}
    .row
      .large-12.columns
        %h3.text-center{style: "font-family: 'Roboto Condensed', sans; line-height: 1em; padding:0px 60px 30px 60px;"}
          "We did not have to enter the information from W-8BENs into a spreadsheet; we let the account holders fill out the forms online. This change has made it so that those helping my group with the data entry don’t need to work overtime."
        %h6.text-center
          — Mazars Group