%section.benefits{style: "background: black; padding: 40px 0 40px 0; "}
  .row
    .large-12.columns
      %h3.text-center{style: "font-family: 'Roboto Condensed', sans; line-height: 1em; padding:0px 60px 30px 60px; color: #ffd707;"}
        "SaaScap.com's credit facility was clearly superior to traditional bank debt, venture capital, or a venture debt loan. We would be happy to be a customer again." 
      %h6.text-center{style: "color: #ffd707;"}
        — Sean Noonan, Founder and VP Finance, Clickability