%section.benefits{style: "background: black; padding: 40px 0 40px 0; "}
  .row
    .large-12.columns
      %h3.text-center{style: "font-family: 'Roboto Condensed', sans; line-height: 1em; padding:0px 60px 30px 60px; color: #ffd707;"}
        "Timely, accurate and auditable information from US tax certificates has enhanced our FATCA compliance efforts and the credibility of our compliance team. This has improved our ability to focus on more value-added activities and assist our company achieve its goals and objectives." 
      %h6.text-center{style: "color: #ffd707;"}
        — Rathbone Brothers Plc