%section{style: "padding: 150px 0 150px 0; background-image: url('assets/photo.JPG'); background-size: cover;"} 
  %section.benefits{style: "background: white; opacity: .9; padding: 40px 0 40px 0; "}
    .row
      .large-12.columns
        %h3.text-center{style: "font-family: 'Roboto Condensed', sans; line-height: 1em; padding:0px 60px 30px 60px;"}
          "We were fortunate to have a number of financing alternatives, but in the end, the availability of the SaaScap.com's facility, coupled with the ability to draw down cash only when we need it, made SaaScap the obvious choice."
        %h6.text-center
          — Liz Pearce, CEO, high growth SaaS business


