%section{style: "background: black;"}
  .row
    .large-6.columns
      %h1{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding:30px 0px; font-weight: bold; line-height: 1em; color: #ffd707;"}
        WHY YOU SHOULD USE SaaSCAP.COM  
        %br
  .row{style: "padding-bottom:30px; color: #ffd707;"}
    .large-6.columns
      %p Automating the W-8, W-9 and self-certification process helps to increase accuracy and reduce cost, while improving audit defence and scalability. Switching from a traditional paper-based reporting system to SaaScap.com increases documentation accuracy by up to 90% and reduces costs by up to 30%.



