%section{style: "background: black;"}
  .row
    .large-6.columns
      %h1{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding:30px 0px; font-weight: bold; line-height: 1em; color: #ffd707;"}
        WHY YOU SHOULD USE SaaSCAP.COM  
        %br
  .row{style: "padding-bottom:30px; color: #ffd707;"}
    .large-6.columns
      %p You can raise finance without diluting equity and based on your track record and KPIs. We help to increase your reduce the cost of financing, while improving the scalability of your business. Switching from equity-based financing to SaaScap.com-provided loand decreases your financing costs by up to 50%.



