.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 100px; padding-top:30px; font-weight: bold; line-height: 1em;"}
      W-8BEN-E 
      %br
      COMPLIANCE         
      %br
      MADE EASY
      %br
    %h5.text-center
      US tax form. Collected. Seamlessly.
%hr
.row
  .large-3.panel.columns
    %img{:src => "http://placehold.it/500x500&text=Image"}
    %h4 Header
    %p Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.
    %hr
    .row
      .large-4.columns
        %a.small.button{:href => "#"} Link
      .large-4.columns
        %a.small.button{:href => "#"} Link
      .large-4.columns
        %a.small.button{:href => "#"} Link
  .large-9.columns
    .panel
      .row
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
        .large-3.columns.end
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}
    .row
      .large-6.columns
        .panel
          %h5 Subheader
          %p Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.
          %a.small.button{:href => "#"} Link
      .large-6.columns
        .panel
          %h5 Subheader
          %p Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.
          %a.small.button{:href => "#"} Link
%hr
.testimonial-wrap
  .row
    .large-12.columns.centered-text
      %h2.testimonial What these awesome people have to say!
  .row
    .large-6.columns.testimonial
      .quote
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.
      .student
        .photo
        %p John Doe
        %p Important person, some Company
    .large-6.columns.testimonial
      .quote
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.
      .student
        .photo
        %p John Doe
        %p Important person, some Company
%hr
%section.benefits
  .row
    .small-12.large-4.columns.benefit
      %i.fi-credit-card.icon
      %h5 Great online shopping
      %hr
      %p Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.
    .small-12.large-4.columns.benefit
      %i.fi-shopping-cart.icon
      %h5 Fast checkout process
      %hr
      %p Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.
    .small-12.large-4.columns.benefit
      %i.fi-pricetag-multiple.icon
      %h5 The best deals, everyday
      %hr
      %p Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.
  .row
    .small-12.large-4.columns.benefit
      %i.fi-map.icon
      %h5 Shop anywhere, anytime
      %hr
      %p Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.
    .small-12.large-4.columns.benefit
      %i.fi-shopping-cart.icon
      %h5 All your favorite brands
      %hr
      %p Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.
    .small-12.large-4.columns.benefit
      %i.fi-trophy.icon
      %h5 Get rewards & points
      %hr
      %p Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.


%hr
.row.collapse
  .large-4.columns
    %ul.pricing-table.left-side
      %li.title Premium
      %li.price $99.99
      %li.description An awesome description
      %li.bullet-item
        %i.foundicon-graph
        3 Databases
      %li.bullet-item
        %i.foundicon-cloud
        50GB Storage
      %li.bullet-item
        %i.foundicon-address-book
        500 Contacts
      %li.bullet-item
        %i.foundicon-phone
        Phone Support
      %li.cta-button
        %a.button{href: "#"} Buy Now
  .large-4.columns.recommended
    %ul.pricing-table
      %li.title Plus
      %li.price $59.99
      %li.description An awesome description
      %li.bullet-item
        %i.foundicon-graph>
        2 Databases
      %li.bullet-item
        %i.foundicon-cloud
        10GB Storage
      %li.bullet-item
        %i.foundicon-address-book
        250 Contacts
      %li.bullet-item
        %i.foundicon-website
        Online Support
      %li.cta-button
        %a.button{href: "#"} Buy Now
  .large-4.columns
    %ul.pricing-table.right-side
      %li.title Standard
      %li.price $19.99
      %li.description An awesome description
      %li.bullet-item
        %i.foundicon-graph
        1 Database
      %li.bullet-item
        %i.foundicon-cloud
        1GB Storage
      %li.bullet-item
        %i.foundicon-address-book
        100 Contacts
      %li.bullet-item
        %i.foundicon-website
        Online Support
      %li.cta-button
        %a.button{href: "#"} Buy Now


