
-# .contain-to-grid.sticky
%nav.top-bar{"data-topbar" => true}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "/"}
          W-8 
          %i.fi-burst.icon{style: "color: #f03"} 
          Forms
    %li.toggle-topbar.menu-icon
      %a{href: "/"}
        Menu
  %section.top-bar-section
    %ul.right
      %li
        %a{:href => "/users/new"} GET STARTED
      %li
        %a{:href => "/pricing"} PRODUCTS & PRICING
      %li
        %a{:href => "/sessions/new"} SIGN IN

